## Generate a "clean" tarball when calling git archive

# Do not export dist-specific directories
debian/ export-ignore
gentoo/ export-ignore

# Do not export git configuration files
.gitattributes	export-ignore
.gitignore	export-ignore

# CI/CD scripts are not needed for exports
.appveyor.yml	export-ignore
.github/	export-ignore
.codecov.yml export-ignore
