# I like to call my build directory build.
build*/

#common editor swap files
*~
*.kate-swp
*.swp

#kdevelop local configuration
.kdev4

#Debian build system creates those directories:
obj-*/

# Debian build system's log files.
# Not really meant to be comitted.
debian/*.log

# Debian packages
# for example left behind from a failed
# mk-build-deps
*.deb

# Windows compiled help files
*.chm

# stuff from jekyll after building the website
_site/
vendor
.sass-cache
