<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>
			{{ page.title }}
			{% if page.title %}
				[dspdfviewer]
			{% else %}
				dspdfviewer
			{% endif %}
		</title>
		<base href="{{ site.baseurl | append:'/' | replace:'//','/' }}" />
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/page-generator.css" />
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/github-light.css" />
	</head>
	<body>
