Source: dspdfviewer
Section: text
Priority: extra
Maintainer: Danny Edel <mail@danny-edel.de>
Build-Depends:
# For now I depend on g++-4.6 or higher because of c++11-features
# FIXME: If there's any dependency that says "Any c++11-compiler"
# use that.
 g++-4.6 | g++ (>= 4:4.6),
# Rest of deps:
# A Debhelper with cmake support
# (otherwise it will not see the CMakeLists.txt and just build
# a package with a manpage...
 debhelper (>= 7.3.0), cmake,
# the poppler-library for PDF decoding
 libpoppler-qt4-dev,
# And the hardening-wrapper because lintian told me to make the build
# safer.
 hardening-wrapper
Standards-Version: 3.9.3
Vcs-Git: git://github.com/dannyedel/dspdfviewer.git
Vcs-Browser: https://github.com/dannyedel/dspdfviewer
# Homepage: http://danny-edel.de/projects/dspdfviewer
# NOTE: I have not written a homepage yet, but probably writing
# the source code is more important.

Package: dspdfviewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: latex-beamer
Description: Dual-Screen PDF Viewer for LaTeX-beamer
 This is a specialized PDF Viewing application custom-made for
 the LaTeX class beamer, specifically the
 "show notes on second screen=right" option.
 .
 To make use of this program, you will need a document created
 by latex-beamer, and you will need two monitors connected to
 your computer.
 They do not need to have the same resolution, not even the same
 aspect ratio.
 .
 This program will split your PDF page in half, and display the
 left half (intended for the audience) on one monitor (think:
 a notebook's VGA output connected to your university's projector)
 and it will display the right half (intended for you) on the
 second screen.
 Also, on the second screen, you get page thumbnails and status
 information, like the time since you started the presentation
 and a "wall clock".


