#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# enable hardening
export DEB_BUILD_HARDENING=1

# Make sure to NOT use any flags from environment and only use the standard
# debian build flags.
#
# include CPPFLAGS in CFLAGS, this is a cmake workaround found on
# https://wiki.debian.org/Hardening#Notes_for_packages_using_CMake
export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

VERSION=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p')


override_dh_auto_configure:
	dh_auto_configure -- -DDSPDFVIEWER_VERSION=$(VERSION)


# Debug package building
.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=dspdfviewer-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/dspdfviewer

override_dh_installdocs:
	dh_installdocs --link-doc=dspdfviewer


# Use debhelper for the rest
%:
	dh $@
