#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1

# Make sure to NOT eat any flags from environment and only use the standard
# debian build flags.
CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

# Hacks for ubuntu lucid
CODENAME=$(shell lsb_release --codename --short)

# If we compile on ubuntu lucid, g++ wont be aliased to
# g++-4.7 even though we pulled from the ppa (by build-depends)
# so we need to force the compiler
ifeq ($(CODENAME),lucid)
export CC=gcc-4.7
export CXX=g++-4.7
export LD=ld-4.7
CXXFLAGS:=$(CXXFLAGS) -DHACKS_FOR_LUCID
endif

%:
	dh $@ 
